<div class="container col s12 m6 l6 offset-m3 offset-l3">
<div class="row"></div>
    <div class="row">
        <div class="file-field input-field">
            <div class="waves-effect waves-light btn col s12">
                <i class="material-icons col s1">videocam</i>
                <div class="col s10">
                    <span class="">Capture Receipt</span>
                </div>
                <input type="file" accept="image/*" capture="camera" id="receiptFile" onchange="angular.element(this).scope().receiptFileChangeEventHandler(this.files)">
            </div>
        </div>
    </div>
</div>
